h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: red;
}
 canvas {
     animation-name: exemple;
     animation-duration: 4s;
     animation-iternation-count: infinite;
 }


@keryframes exemple {
    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yelow}
}